
#header-container,
#footer-container {

    background-color:  rgb(255, 85, 85);
    color: white;
    padding: 20px;
    border: 5px solid black;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke: 1px black;
}

.NavMenu {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 12px;
}

.link {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke-width: 0;
}

.link:visited,
.link:link {
    color: white;
    font-size: large;
}

.link:hover {
    color: rgb(177, 221, 239);
    text-decoration: underline;
    cursor: pointer;
}

#welcome-sign {
    text-align: center;
    font-size: 40px;
}

.welcome-table {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

td {
    padding-right: 10px;
    padding-bottom: 25px;
}

.home-button {
    width: 200px;
    height: 40px;
    font-size: 30px;
}

.status-board {
    text-align: center;
    background-color: white;
    display: grid; 
    border: 5px solid; 
    height: 100px; 
    grid-Template-Columns: 1fr 1fr 1fr;
    margin: 10px;
}

.player-stats-board {
    text-align: center;
    background-color: white;
    display: grid;
    border: 5px solid; 
    height: 100px; 
    grid-Template-Columns: 1fr 1fr;
    margin: 10px;
}
