.grid-form-container {
    display: grid;   
    grid-template-columns: 200px 200px 250px;
    margin: auto;
    justify-content: center;
    font-size: 40px;
    row-gap: 20px;
}

input,
select {
    height: 45px;
    width: 100%;
    align-self: center;
}

input[type='text'],
input[type='number'],
select {
    font-size: 40px;
}

input[type="radio"] {
    width: 30px;
    height: 30px;
}

.radio-container {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
}

#save-button,
#play-options-button,
#restore-button {
    height: 50px;
    width: 150px;
    font-size: 20px;
    justify-self: center;
}

#play-options-button {
    align-self: center;
}