.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    --g: 3vw;
    --y: 1.5vw;
    --green-height: 2px;
    grid-gap: var(--g);
    row-gap: var(--y);
}

.grid>* {

    position: relative;
}


.grid>*:nth-child(6n -1)::before{
    content: '';
    border: solid;
    height: calc((var(--y) + var(--green-height)));
    width: 2px;
    background-image: linear-gradient(blue 0 50%); 
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 50%;
}


.grid>*:nth-child(6n+1)::before{
    content: '';
    border: solid;
    height: calc((var(--y) + var(--green-height)));
    width: 2px;
    background-image: linear-gradient(purple 0 100%);
    position: absolute;
    z-index: -1;
    bottom: 100%;
    left: 50%;
}

.grid>*:nth-child(1)::before,
.grid>*:last-child::before{
    display: none;
}
.grid>*::after {
    content: '';
    border: solid;
    width: var(--g);
    height: 2px;
    background-image: linear-gradient(to right, red 0% 100%);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 100%;
}

.grid>*:nth-child(6n-1)::after,
.grid>*:nth-child(6n)::after,
.grid>*:last-child::after {
    display: none;
}

.row-border{
	border: solid;
    background-image: linear-gradient(to right, green 0% 100%);
    grid-column: 1 / 6; /* this code makes the row stretch to entire width of the container */
    height: var(--green-height);
    width: 82%;
    margin-left: 9%;
    margin-right: 9%;
}


.card {
	border: solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    text-align: right;
}

.owner-color {
	background-color: gray;
    height: 3em;
}